body{ 
    background-color: #d19d9d; /*Light grey background */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0); /*Dark grey text */
}

h1, h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000; /* Black text */
}
h1 {
    margin: 20px px;
    padding-bottom: 10px;
}

p{
    margin: 10px 0;
    padding: 5px;
}
#name, #hobbies, #pics {
    margin: 20px;
    border: 1px solid #7e2f44; /* Light grey border */
    padding: 20px;
    background-color: #eed6d6; /* Light background for each */
} 

h2{
    margin-bottom:10px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

/*Styles for dark theme*/
.dark-theme {
    background-color:#333;/*Dark background*/
    color:#fff; /*Light text*/
}
.dark-theme h1, .dark-theme h2 {
    color: #e77799; /*Orange color for headers in dark theme */
}

/* Navigation menu styles */
nav{
    background-color: #000000c3;
    text-align: center;
    padding: 6px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline; /* Aligns menu itens horizontally */
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.875);
    font-size: 15px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f580d2; /* Change color on hover */
}

.profile-card {
    width: 500px;
    margin: 20px auto;
    border: 3px solid #dc9393;
    padding: 20px;
    background-color: #efd2d2;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.profile-card .profile-pic {
    width: 200px;
    height: 100px;
    border: 50px; /*circular image*/
}

.profile-card h3 {
    margin: 10px 0;
}

.profile-card p {
    margin: 5px 0;
}